<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initializeOwinMiddleware>
        <processor type="Sitecore.SignalR.Pipelines.InitializeOwinMiddleware.InitializeSignalR, Sitecore.SignalR" />
      </initializeOwinMiddleware>
      <httpRequestBegin>
        <processor type="Sitecore.SignalR.Pipelines.HttpRequest.IgnoreSignalRPath, Sitecore.SignalR"
                   patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"/>
      </httpRequestBegin>
    </pipelines>
    <settings>
      <setting name="SignalR.Path" value="/signalr"/>
    </settings>
  </sitecore>
</configuration>